.panelItem span {
    margin-left: 15px;
}
.panelNav {
    border-right: 1px solid #dedede;
    height: 91.4vh;
    max-width: 200px !important;
    width: 100%;
}
.adminPanel {
    display: flex;
}
.userItem {
    background: #ebebeb;
    margin-bottom: 25px;
}
.usersAdmin {
    padding-top: 0 !important;
    max-width: 500px!important;
}
.deleteUserAdmin {
    color: #636363;
    cursor: pointer;
}
.adminUserOrders {
    margin: 0 15px 0 15px;
}
.userItem  {
    max-width: 500px;
    width: 100% !important;
}

.adminPanel main {
    max-width: 450px;
    width: 100%;
    margin-top: 25px !important;
    margin-left: 25px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brandsMain {
    position: relative;
    max-width: 350px;
    width: 100%;
}

.addButton {
    position: absolute !important;
    right: 0px;
}
