.panelItem span {
    margin-left: 15px;
}
.panelNav {
    border-right: 1px solid #dedede;
    height: 91.4vh;
    max-width: 200px !important;
    width: 100%;
}

.adminPanel {
    display: flex;
    justify-content: center;
}
.userItem {
    background: #ebebeb;
    margin-bottom: 25px;
}
.usersAdmin {
    padding-top: 0 !important;
    max-width: 500px!important;
}
.deleteUserAdmin {
    color: #636363;
    cursor: pointer;
}
.adminUserOrders {
    margin: 0 15px 0 15px;
}
.userItem  {
    max-width: 500px;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: center !important;
}

.adminPanel main {
    max-width: 500px;
    width: 100%;
    margin-top: 25px !important;
    margin-left: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brandsMain {
    position: relative;
    width: 100%;
}

.addButton {
    position: absolute !important;
    right: 0px;
}
.orderItem {
    background: #f0f0f0;
}
.openAdminMobileMenu {
    display: none !important;
}
@media  (max-width: 990px) {
    .panelNav {
        z-index: 999;
        background: white;
        opacity: 0;
        display: none;
        height: 100%;
        transform: translateX(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .panelNav.show {
        opacity: 1;
        display: block;
        transform: translateY(0);
    }
    .panelNavContainer {
        position: absolute!important;
        left: 0;
        z-index: 50;
        height: 100%;
        display: flex;
    }
    .openAdminMobileMenu {
        display: block !important;
        height: fit-content;
        border-radius: unset !important;
        position: fixed;
    }
    .adminPanel main {
        margin-left: unset !important;
        padding: 0 20px;
    }
}
