.menuLink {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;
}
.css-e53awj-MuiStack-root {
    align-items: center !important;
}
.authButton {

}
.menu {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
}
.menu .css-h4y409-MuiList-root {
    margin: 0 auto !important;
}
.clearButton {
    color: white;
}
.mobileMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    right: 0;
    position: absolute;
    background: white;
    z-index: 999;
}
.mobileMenu .menuLink button svg, .mobileMenu button svg{
        font-size: 30px;
}
.openMobileMenuIcon {
    color: white !important;
    display: none !important;
}

@media (max-width: 900px) {
    .openMobileMenuIcon {
        display: block!important;
    }
}

@media (max-width: 500px) {
    .css-1kcggdq-MuiInputBase-root {
        width: 170px;
    }
}
.ordersButtonMenu {
    display: block;
}
.css-1guk29 {
    display: flex;
    align-items: center;
}
