.mainOrderItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.orderInfoList {
    display: flex;
    flex-direction: column;
}
.orderInfoListItem{
    display: block !important;
}
.openOrderInfoButton {
    display: flex;
    align-items: center;
}
