* {
    margin: 0;
    padding: 0;
}
.errorMSG {
    color: red;
}
.css-konndc-MuiListItemText-root {
    min-width: 0 !important;
}

/*dialog*/

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    margin-left: 20px !important;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    height: 55px;
    padding-right: 30px;
}
.scrollable {
    overflow: auto;
}

