* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.errorMSG {
    color: red;
}

.css-konndc-MuiListItemText-root {
    min-width: 0 !important;
}

/*dialog*/

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    margin-left: 20px !important;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    height: 55px;
    padding-right: 30px;
}

.scrollable {
    overflow: auto;
}

.MuiCardMedia-root {
    background-size: contain !important;
}

/*start*/
.container,
.icons,
.browse-div {
    max-width: 1140px;
    margin: 0 auto;

}
.css-96uuyl {
    width: fit-content!important;
}
.accountInfo {
    display: flex;
    flex-direction: column;
    max-width: 273px;
    height: 395px;

    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 15px;

    color: #6e6e6e;
}

.toastConainer {
    position: absolute;
}

.ordersPage {
    max-width: max-content;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
}

.logRightMenu {
    margin: 0 auto;
    color: initial;
    cursor: pointer;
    color: #3d3db8;
    margin-top: 24px;
}

.toOrder button {
    background: #f7909e !important;
}

.ware-item {
    width: 652px;
    height: 306px;
    background: #ffffff;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
    display: flex;
}

.orderItems {
    display: grid;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 551px;
    grid-gap: 1rem;
    max-width: 652px;
}

.orderPageItem {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    margin-top: 15px;

}

.orderDetailsInner {
    color: #f16d7f;;
}

.orderDetailsOuter {
    color: #222222;

}

.profileData {
    color: #f16d7f;
    text-transform: initial;
}

.logOutBTN {
    max-width: 273px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    background: #f16d7f;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin-top: 17px;
    margin-bottom: 17px;

    color: #ffffff;
}

.logOutContainer {
    max-width: 273px;
    width: 100%;
    margin: 0;
}

.menu {
    width: 100%;
    height: 75px;
    background: #222222;
}

.top {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.top-back {
    background: #f1e4e6;
}

li {
    list-style-type: none;
}

.icons {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.i {
    display: inline-block;
    align-items: center;
}

.logoIcon {
    padding-top: 18px;
    padding-left: 20px;
}

.searchIcon {
    padding-top: 25px;
    display: flex;
}

.search-form {
    display: flex;
}

.Toastify {
    position: absolute;
}

.capitalize {
    text-transform: capitalize;
}

.menuIcon {
    padding-top: 30px;
    padding-right: 15px;
}

.icon-4 {
    padding-top: 26px;
    padding-left: 33px;
}

.icon-5 {
    padding-top: 19px;
    padding-left: 33px;
    padding-right: 20px;
}

.p-top {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    font-family: 'Lato', sans-serif;
    color: #222222;
    padding: 0 0 0 28px;
    position: relative;
    max-width: 559px;
    display: inline-block;
}

.text_under-1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.text-color-rosa {
    color: #f16d7f;
}

.top {
    background-repeat: no-repeat;
    height: 720px;
    background-position-y: 20px;
    background-position-x: -18px;
}

.main {
    width: 100%;
}

.hot_deals {
    margin-top: 92px;
}

.hot {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.p-hot-deal {
    font-family: 'Lato', sans-serif;
}

.hot-deal-1 {
    max-width: 360px;
    width: 100%;
    height: 260px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

.hot-deal-2 {
    max-width: 360px;
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.hot-deal-3 {
    max-width: 360px;
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.img {
    width: 100%;
    height: 100%;
}

.p-hot {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.hot-rosa {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #f16d7f;
    font-size: 24px;
}

.hot-deal-4 {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 180px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.p-big {
    color: white;

    justify-content: center;
    text-align: center;
}

.main-top-cat-important {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding-top: 59px;
}

.hot-rosa-2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #f16d7f;
    font-size: 24px;
}

.p-hot-2 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.h2-main {
    font-family: 'Lato', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-top: 96px;
}

.p-main {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Lato', sans-serif;
    color: #9f9f9f;
    padding-top: 6px;
}

.card {
    margin-top: 47px;
    max-width: 360px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
    margin-bottom: 30px;
}

.h1-card {
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
    padding-left: 18px;
    background: #f8f8f8;
    padding-top: 24px;
}

.p-card {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding-left: 18px;
    background: #f8f8f8;
    padding-bottom: 18px;
    padding-right: 18px;
}

.prices {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    padding-left: 18px;
    color: #f16d7f;
    background-color: #f8f8f8;
    padding-bottom: 19px;
}

.cards {
    display: grid;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 551px;
    grid-gap: 1rem;
    max-width: 1300px;
}

.cc {
    display: flex;
    justify-content: center;
}

.browse {
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    color: #f26376;

    padding-bottom: 15px;
    width: 211px;
    border: 1px solid #ff6a6a;
    justify-content: center;
    display: flex;
    padding-top: 14px;
}

.browse:hover {
    color: rgb(255, 255, 255);
    background: #f16d7f;
}

.info-shop {
    height: 341px;

    background: #222224;
}


.browse-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icons-footer {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-top: 103px;
    display: flex;
}

.free-delivery {
    width: 360px;
}

.h1-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 28px;
}

.p-text-footer {
    font-family: 'Lato', sans-serif;

    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
    min-width: 360px;
}

.text-1 {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.free-delivery img {
    margin-left: 158px;
}

.sales {
    margin-left: 30px;
}

.footerMain {
    justify-content: center;
    max-width: 1600px;
    height: 335px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.footerMainBack {
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.orders {
    margin-bottom: 277px;
}

.img-podaval {
    margin-top: 97px;
    margin-left: 352px;
}

.p-podval {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lato', italic;
    padding-left: 228px;
    color: #222224;
    width: 359px;

    text-align: center;
    padding-top: 30px;
}

.subscribe-span {
    font-family: 'Lato', sans-serif;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
}

.subscribe-us {
    text-align: center;
}

.img-p-footer {
    width: 96px;
    height: 96px;
}

.podval {
}

.img-podaval {
    width: 96px;
    height: 96px;
}

.subscribe {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.input {
    background: #e1e1e1;
    padding-left: 22px;
    border: none;
    outline: none;
}

.input {
    border-radius: 50px 0px 0px 50px;
    width: 256px;
    height: 45px;
}

.input-sub {
    padding-top: 39px;
    box-shadow: none;
}

.button-send {
    color: white;
    background: #f16d7f;
    border-radius: 0px 50px 50px 0px;
    height: 46px;
    width: 100px;
    box-shadow: none;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.container-footer {
    height: 79px;
    background: #222224;
}

.contacts {
    margin: 0 auto;
    max-width: 1140px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.copy {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #fbfbfb;
    padding-top: 30px;
}

.g {
    height: 25px;
    width: 32px;
    background: #ffffff;
    justify-content: center;
    margin-left: 666px;
    margin-top: 32px;
    display: flex;
    padding-top: 8px;
}

.g img {
    height: 14px;
    width: 8px;
}

.g:hover {
    background: #f16d7f;
}

.top-catalog {
    width: 100%;
    height: 148px;
    background-color: #f8f3f4;
}

.h1-top-catalog {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.icons-right {
    display: flex;
}

.input {
    padding-left: 16px;
    margin-right: -50px;
    padding-top: 1px;
}

.icons-left {
    display: flex;
}

.img-podaval {
    margin-top: 53px;
}

.main-top-cat {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 59px;
    display: flex;
    justify-content: space-between;
}

.p-top-cat {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    padding-top: 6px;
}

.catalog-card {
    /* margin-bottom: 47px; */
}

.filter span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.filter {
    display: flex;
}

.filter img {
    margin-top: 3px;
    margin-left: 11px;
}

.sort {
    display: flex;
    padding-top: 51px;
}

.sort-1,
.sort-2 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.sort-filter {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

.sort a {
    display: flex;
    text-decoration: none;
}

.top-text {
    padding-left: 864px;
    padding-top: 290px;
}

.sort-2 {
    padding-left: 27px;
}

.a:hover {
    color: red;
}

.pagination {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    color: #c4c4c4;
    border: 1px solid #ebebeb;
    height: 43px;
    width: 282px;
    margin-top: 48.5px;
    margin: 48.5px auto;
}

.what_page {
    color: #ef5b70;
    margin-right: 5px;
}

.pagination p {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.fa-angle-right,
.fa-angle-left {
    margin: 0;
}

.fa-angle-left {
    margin-top: 1px;
    margin-right: 15px;
}

.fa-angle-right {
    margin-top: 1px;
    margin-left: 10px;
}

.img:hover {
    filter: brightness(70%);
}

.sort:hover {
    color: red;
}

.hotDealsLink {
    text-decoration: none;
    max-width: 360px;
    width: 100%;
}

a {
    text-decoration: none;
}

.add-to-card-rosa {
    border: 1px solid #ff6a6a;

    height: 43px;
    width: 138px;
    display: flex;
    margin-left: 111px;
    margin-top: 188px;
    visibility: hidden;
}

.add-to-card {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    height: 43px;
    width: 138px;
    display: flex;
    margin-left: 111px;
    margin-top: 188px;
    visibility: hidden;
}

.img:hover ~ .add-to-card {
    visibility: visible;
}

.add-p {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding-left: 11px;
    font-family: 'Lato', sans-serif;
    padding-top: 13.73px;
}

.add-to-card a {
    display: flex;
    padding-left: 13px;
    padding-right: 14px;
}

.add-to-card img {
    height: 24px;
    padding-top: 10.79px;
}

.add-to-card:hover {
    visibility: visible;
    background-color: #adacac;

}


.women {
    width: 1141px;
    height: 601px;
    border: 1px solid #eaeaea;
    margin-top: -53px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
}

.container-prod {
    margin: auto;
    width: 100%;
}

.p-top::before {
    content: '';
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
}

.inputs-shipping-adress {
    width: 358.99px;
}

body {
    font-family: 'Lato', sans-serif;
}

.p-top-cat a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new-arrivals {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #f16d7f !important;
}

.box-link {
    width: 32px;
    height: 32px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}

.social-links {
    display: flex;
    padding-top: 24px;
}

.instagram {
    margin-left: 8px;
    color: black;
}

.pinterest {
    margin-left: 8px;
}

.twitter {
    margin-left: 8px;
}


.facebook:hover,
.instagram:hover,
.pinterest:hover,
.twitter:hover {
    background: #f16d7f;
    color: white;
}

.productsContentH3 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-top: 64px;
    text-align: center;
    color: #f16d7f;
    text-transform: uppercase;
}


.productsContent {
    flex-direction: column;
    border: 1px solid #eaeaea;
    background: white;
    margin-top: -26px;
    position: relative;
    width: 100%;
}

.productsContentP {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 572px;
    width: 100%;
    padding-top: 49px;
    color: #5e5e5e;
    margin: auto;
}



.woman-content-footer {
    display: flex;
    margin-top: 65px;
    justify-content: center;
}

.choose-size,
.quantyty {
    margin-left: 22px;
}

.btn-add-to-card {
    background-color: white;
    border: 1px solid #ff6a6a;
    width: 211px;
    height: 47px;
    color: #f26376;
    display: flex;
    margin: 49px auto;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.btn-text {
    margin: 0 auto;
}

.btn-add-to-card img {
    margin-left: 24px;
    margin-top: 13px;
}

.btn-add-to-card:hover {
    background-color: #f5f5f5;
}

.container-products {
    max-width: 1141px;
    margin: 0 auto;
}

.cards-products {
    margin-bottom: 128px;
}

.btn-product {
    border: none;
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
}

.btn-right-product,
.btn-left-product {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 365px; */
}

.btn-left-product {
    transform: rotate(180deg)
}

.btn-product:hover {
    background-color: rgba(153, 153, 153, 0.2);
}

.fa-angle-down:before {
    content: '\f107';
    margin-left: 10px;
}

.filter-btn {
    display: flex;
    height: 20px;
    background: none;
    margin-top: 51px;
    border: none;
}

.filter-btn:hover {
    color: #f16d7f !important;
}

.fa-sort-amount-down {
    margin-left: 11px;
    margin-top: 2px;
}

.trending-now {
    display: flex;
    border: none;
    background: none;
}

.sort-1 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.trending-now:hover {
    color: #f16d7f !important;
}

.button-send:hover {
    background-color: #ef5d71;
}

.search-icon-form__input {
    max-width: 811px;
    width: 100%;
    height: 30px;
    margin-left: 9%;
    margin-right: 9%;
    padding-left: 12px
}

.btn-search {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 25px;
}

#burger-menu {
    width: 32px;
    height: 23px;
    border: none;
    display: block;
    background-color: #222222;
    cursor: pointer;
}


.mobile-menu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    width: 232px;
    background-color: white;
    height: 719px;
    z-index: 1;
    right: 0;
    margin-top: 23px;
    transition: right 0.5s linear;
}

input[type='checkbox'] {
    display: none;
}

.menu-burger {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 37px;
    padding-left: 34px;
    display: flex;
}

.man-burger {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #f16d7f;
    padding-top: 24px;

    padding-left: 34px;
}

.mobile-menu li {
    padding-left: 54.5px;
    padding-top: 12px;
}

.mobile-menu li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}

.x {
    background-image: none;
    height: 18px;
    text-align: center;
    width: 18px;
    margin-left: 118px;
    cursor: pointer;
    margin-top: -8px;
    background: none;
    border: none;
    font-size: 22px;

}

.ware-item {
    width: 652px;
    height: 306px;
    background: #ffffff;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
    display: flex;
}

.ware-item img {
    width: 262px;
    height: 306px;
}



.order-name {
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    width: 194px;
    margin-bottom: 90px;
    color: #222222;
    height: 51px;
}

.price-cart,
.color-cart,
.size-cart,
.input-quentyty-cart {
    color: #575757;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

.order {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-the-order {
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quantyty-value-cart {
}

.container-footer {
}

.price-dollar-cart {
    color: #ef5b70;
}

.color-name-cart,
.size-cart {
    color: #6f6e6e;
}

#choose-quantyty-cart {
    max-width: 40px;
    border: 1px solid #eaeaea;
    outline: none;
    text-align: center;
    color: #656565;
    height: 24px;
}

.size-cart,
.color-cart,
.quantyty-cart {
    margin-top: 6px;
}

.shipping-adress {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.inputs-shipping-adress {
    margin-top: 96px;
}

.shipping {
    width: 360px;
    margin-top: 113px;
    margin-left: 129px;
}


#get-a-quote {
    background: none;
    border: 1px solid #a4a4a4;
    width: 100px;
    height: 34px;
    margin-top: 23px;
}

.get-a-quote-text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;

    color: #4a4a4a;
}

.mobile-menu-icons {
    display: flex;
    margin: 22px auto 0px;
    width: 150px;
    justify-content: space-between;

}

#get-a-quote:hover {
    background-color: rgb(221, 221, 221);
}


.shipping {
    flex-direction: column;
}

.proceed-to-checkout {
    width: 380px;
    margin-top: 57px;
    height: 214px;
    background: #f5f3f3;
}

.show {
    visibility: visible;
    transition: right 0.5s linear;
}

.sub-total-p,
.sub-total {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #4a4a4a;
}

.sub-total {
    margin-left: 20px;
}

.sub-total-p {
    padding-top: 39px;
    margin-left: 218px;
}

.grand-total-p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-left: 180px;
    margin-top: 12px;
}

.grand-total {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #f16d7f;
}

.line-shipping {
    height: 1px;
    width: calc(100% - 80px);
    display: block;;
    background: #e2e2e2;
    margin: 21px auto auto;
}

.procced-btn {
    width: 273px;
    cursor: pointer;
    height: 50px;
    background: #f16d7f;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin-top: 17px;

    margin-left: 44px;
    color: #ffffff;
}

.hh {
    border: solid #000;
    width: 100px;
    height: 100px;
    flex-direction: column;
}

.procced-btn:hover {
    color: #f16d7f;
    background-color: white;
    border: 1px solid #f16d7f;
}


.contue-shopping:hover,
.clear-shopping-cart:hover {
    background-color: rgb(231, 229, 229);
}

.sort-filter {
    margin-top: 51px;
}

#reg-input {
    width: 359px;
    height: 44px;
    background: none;
    outline: none;
    padding-left: 16px;
    border: 1px solid #a4a4a4;
    margin-top: 20px;
}

.inputs-reg {
    display: flex;
    flex-direction: column;
}

.your-name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 64px;
    color: #222222;
}

.male-or-femeale {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-top: 33px;
}

.male {
    margin-left: 10px;
}

.login-details {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 35px;
    color: #222222;
}

.errorMSG_ {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    max-width: 359px;
    width: 100%;
    margin-top: 15px;
    color: red;
}

.btn-join-now {
    background: #f16d7f;
    cursor: pointer;
    border: none;
    max-width: 167px;
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;

}

.btn-join-now img {
    margin-left: 20px;
}

.btn-join-now:hover {
    background: #e77383;
}

.main-text-reg {
    margin-left: 128px;
    margin-top: 64px;
    flex-direction: column;
}

.reg-main {
    display: flex;
    justify-content: center;
}

.perks {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
}

.p-reg-text {
    width: 652px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 22px;
    color: #000000;
}

.as-you-join {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
    color: #000000;
}

.as-you-join img {
    margin-right: 23px;
}

.loginBTN {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-reg {
    margin-top: 50px;
}

@media (max-width: 1152px) {
    .img-p-footer {
        display: none;
    }

    .subscribe-us {
        padding-left: 0;
    }

    .contacts {
        max-width: 950px;
    }
}

@media (max-width: 820px) {
    .top-text {
        padding-top: 138px;
        padding-left: 385px
    }
}

@media (max-width: 980px) {
    .icons {
        max-width: 641px;
    }
}

@media (max-width: 390px) {
    .text_under-1 {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 29px;
        color: #222222;
        padding-top: 10px;
        display: block;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .p-top {
        font-size: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-top::before {
        content: '';
        width: 12px;
        height: 79px;
        background-color: #f16d7f;
        display: block;
        position: absolute;
        top: 12px;
        left: 0;
    }
}


@media (max-width: 380px) {
    .icon-4,
    .icon-5 {
        display: none;
    }

    .top {
        background: none;
        max-width: 363px;
    }

    .icons {
        max-width: 343px;
    }

    .top-text {
        height: 363px;
        padding-top: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hot {
        display: flex;
        padding-bottom: 0px;
        justify-content: space-between;
    }

    .hot-deal-1,
    .hot-deal-2,
    .hot-deal-3 {
        height: 247px;
        width: 343px;
        margin: 0 auto;
        margin-bottom: 32px;

    }

    .hot-deal-4 {
        width: 343px;
        height: 111px;
    }

    .hot {
        flex-direction: column;
    }

    .h2-main {
        padding-top: 64px;
    }

    .footerMain {
        height: 245px;
    }

    .footerMainBack {
        background-repeat: no-repeat;

        background-size: cover;
        background-position-x: -196px;
    }

    .subscribe-us {
    }

    .input {
        padding-left: 16px;
    }

    .container-footer {
        height: 143px;
    }

    .contacts {
        flex-direction: column-reverse;
    }

    .social-links {
        padding-top: 43px;
        justify-content: center;
    }

    .copy {
        padding-top: 40px;

        justify-content: center;
    }
}

.icons-footer {
    justify-content: center;
}

@media (max-width: 350px) {
    .input {
        max-width: 212px;
    }

}

.icons-footer {
    justify-content: center;
}


@media (max-width: 750px) {
    .ware-item {
        max-width: 390px;
        width: 100%;
        height: 188px;
    }

    .order-name {
        font-size: 16px;
        line-height: 19px;
        width: 143px;
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {

    #inputs-cart {
        width: 330px;

    }

    .hotDealsLink {
        text-decoration: none;
        max-width: 274px;
        width: 100%;
    }

    .main-top-cat-important {
        text-align: center;
        padding-top: 24px;
        flex-direction: column;
    }

    #reg-input {
        width: 330px;
        height: 44px;
        margin: 20px auto 0px;
    }

    .errorMSG_ {
        max-width: 350px;

    }

    .p-reg-text {
        width: 350px;

    }

    .proceed-to-checkout {
        margin-top: 25px;
        width: 349px;
    }

    #get-a-quote {
        margin-bottom: 43px;
    }

    .inputs-shipping-adress {
        margin: auto;
        width: 350px;
    }

    .clear-shopping-cart, .contue-shopping {
        width: 174px;
        height: 32px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }

    #choose-quantyty-cart {
        max-width: 40px;
        height: 14.82px;
    }

    .ware-item {
        margin: auto;
        margin-bottom: 40px;

    }

    .price-cart, .color-cart, .size-cart, .input-quentyty-cart {
        font-size: 14px;
        line-height: 17px;

    }

    .productsContentP {
        max-width: 300px;
        width: 100%;
    }

    .choose-size, .choose-color, .quantyty {
        font-size: 10px;
        line-height: 12px;
    }

    .shopping-cart-main, .main-top-cat {
        padding-top: 59px !important;
    }

    .top {
        background: none;
    }


    .ware-item img {
        width: 144px;
        height: 188px;
    }

    .container-footer {
        height: 143px;
    }

    .contacts {
        flex-direction: column-reverse;
    }

    .sort-filter {
        max-width: 450px;
    }

    .social-links {
        padding-top: 43px;
        justify-content: center;
    }

    .copy {
        padding-top: 30px;
        justify-content: center;
    }

    .footerMainBack {
        background-repeat: no-repeat;
        margin-top: 50px;
    }

    .top-text {
        height: 363px;
        padding-top: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hot {
        display: flex;
        padding-bottom: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .hot-deal-1,
    .hot-deal-2,
    .hot-deal-3 {
        max-width: 274px;
        width: 100%;
        height: 225px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .hot-deal-4 {
        max-width: 274px;
        height: 172px;
        width: 100%;
    }

    .hot {
        flex-direction: column;
    }

    .main-top-cat {
        flex-direction: column;
        text-align: center;
        padding-top: 24px;
    }

    .h1-top-catalog {
        margin-bottom: 32px;
    }

    .filter-name {
        display: none;
    }

    .sort-filter {
        justify-content: space-around;
    }

    .fa-sort-amount-down {
        font-size: 25px;
    }
}

.profileIcon {

}

@media (max-width: 450px) {
    .ware-item {
        max-width: 300px;
        width: 100%;
        height: 188px;
    }

    .order-name {
        width: 120px;
        margin-bottom: 0px;
    }
}

@media (max-width: 383px) {
    /* cart start*/
    .inputs-shipping-adress {
        margin: auto;
        max-width: 300px;
    }

    #inputs-cart {
        max-width: 280px;
        width: 100%;
    }

    .proceed-to-checkout {
        display: flex;
        align-items: end;
        flex-direction: column;
        width: 100%;
    }

    .sub-total-p {
        margin-right: 15px;
        margin-left: 0;
    }

    .grand-total-p {
        margin-left: 0;
        margin-right: 15px;
    }

    .line-shipping {
        width: 100%;
    }

    .procced-btn {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    /* cart end*/
    .reg {
        max-width: 267px;
        width: 100%;
    }

    #reg-input {
        width: 247px;
        height: 44px;
        margin: 20px auto 0px;
    }
}

@media (max-width: 700px) {

    .top {
        background-position-y: 20px;
        background-position-x: -55px;
        height: 388px;
    }

}

.icons-left, .searchIcon, icons-2, .search-form {
    max-width: 850px;
    width: 100%;
}

.p-card:hover, .h1-card:hover {
    cursor: pointer;
    color: rgb(196, 85, 57);
}



#checkbox-reg-2 {
    display: block;
    margin-left: 20px;
}

.reg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media (max-width: 330px) {
    .ware-item {
        max-width: 290px;
    }

}
