.product{
    margin-top: 50px;
    max-width: 450px;
    width:  450px;
    align-items: center;
    justify-content: space-between;
    min-height: 140px;
    padding: 14px;
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    justify-content: center;
}
.productsMain {
    padding: 34px;
}
.productsPagination{
    margin-bottom: 25px;

}
.noProductsMsg {
    width: fit-content;
    display: flex;
    margin: 50px auto 0;
}
.productsFilter span {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.filter {
    display: flex;
    max-width: 350px;
    justify-content: space-around;
    width: 100%;
}
.selectedFilter {
    height: 40px;
    width: calc(100% + 20px);
    display: flex !important;
    justify-content: center !important;
    font-size: larger;
    font-family: monospace
}
